@model MinuteroWeb.Views.Models.GeneracionMinutaViewModel
<div class="col-segunda col-sm-9 full-height">
    <div class="container-fluid no-padding ng-scope full-height">
        <div class="row col-header">
            <div class="col-sm-12">
                <h5>MINUTAS</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4><strong>Minuta</strong></h4>
            </div>
        </div>
        <div class="row no-margin well vista-minuta">
            <div class="col-sm-12" id="divContenidoMinutaConFormato"></div>
        </div>
    </div>
</div>
<div class="col-tercera col-sm-3 full-height">
    <div class="container-fluid no-padding ng-scope">
        <div class="row">
            <div class="col-sm-12 col-header">
                <h5>TODO EN ORDEN</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success center-block" id="btnEnviarMinuta" disabled>Enviar Minuta</button>
            </div>
        </div>
    </div>
</div>
